<!doctype html>
<html>
    <head>
        <title>Topic Upvote/Downvote</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        {% block body %}
        <label>Topic</label>
        <input id="topic" type="text"></input>
        <button onclick='javascript:createTopic()'>Create topic</button>
        {% if topics %}
        <table>
            <thead>
                <tr>
                    <th>Topics</th>
                    <th>Votes</th>
                    <th>Upvote</th>
                    <th>Downvote</th>
                </tr>
            </thead>
            <tbody>
                {% for topic in topics %}
                <tr>
                    <td>{{topic.title}}</td>
                    <td>{{topic.vote}}</td>
                    <td>
                        <button onclick='javascript:updateVotes("{{topic.title}}", "upvote")'>Upvote</button>
                    </td>
                    <td>
                        <button onclick='javascript:updateVotes("{{topic.title}}", "downvote")'>Downvote</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <div id="errorDisplay"></div>
        {% endblock %}
    </body>
    <script>
        function clearErrorMsg() {
            $("#errorDisplay").html('')
        }

        function createTopic() {
            title = $("#topic").val();
            requestData = JSON.stringify({"title": title.trim()});
            $.ajax({
                url: '/topic',
                method: 'POST',
                contentType: 'application/json',
                data: requestData,
                success: function(data) {
                    clearErrorMsg();
                    window.location.reload();
                },
                error: function(error) {
                    $("#errorDisplay").html(error.responseText);
                }

            });
        }

        function updateVotes(title, vote_type) {
            requestData = JSON.stringify({"title": title.trim(), "vote_type": vote_type}),
            $.ajax({
                url: '/topic/count',
                method: 'PUT',
                contentType: 'application/json',
                dataType: "json",
                data: requestData,
                success: function(data) {
                    clearErrorMsg();
                    window.location.reload();

                },
                error: function(error) {
                    $("#errorDisplay").html(error.responseText);
                }

            });

        }
    </script>
</html>
